body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
}   

.flashcard-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px; /* Adjust width as needed */
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    flex-grow: 1; /* Allows card to take up available space */
    margin: 0 10px; /* Space between card and arrows */
    z-index: 1;
}

.card::after {
    content: "";
    background: linear-gradient(rgb(97, 97, 237), aqua, rgb(168, 114, 200), rgb(116, 212, 116), rgb(80, 185, 226));
    width: 325px;
    height: 225px;
    position: absolute;
    top: -12px;
    left: -12px;
    z-index: -1;
    border-radius: 10px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensures padding is included in width/height */
}

.card-front {
    background-color: #f1f1f1;
    color: black;
}

.card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}

.nav-arrow {
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 50%;
    outline: none;
}

.nav-arrow:hover {
    background-color: #ddd;
}
